* {
  box-sizing: border-box;
  margin: 0;
  padding: ;
}
.calendar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.calendar-box{
  border: 2px solid black;
}

.row-1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid black;
  border-bottom:none ;
  width: 300px;
}
.row-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;
}
.calendar-grid{
    display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 50px);
  width: 300px;
}

.day-label {
  border-bottom: 2px solid black;
}
.day{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.day:nth-child(7n + 8) {
  /* Starts at cell 8 (first .num), every 7 after */
  border-left: 1px solid black;
}

