* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.calendar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  height: 500px;
}

.calendar-box{
  width: 300px;
}

.year-format {
  padding-left: 10px;
}
.row-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-bottom:none ;
  width: 300px;
}

.calendar-icon {
  border-left: 2px solid black;
  width: 20%;
  display: flex;
  justify-content: center;
}
.row-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  border: 2px solid black;
  border-bottom: none;
}
.calendar-grid{
    display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 50px);
  width: 100%;
}

.day-label {
  border-bottom: 2px solid black;
}
.day{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.day:nth-child(7n + 8) {
  /* Starts at cell 8 (first .num), every 7 after */
  border-left: 2px solid black;
}

.bl {
  border-left: 2px solid black;
}

.br {
  border-right: 2px solid black;
}